<!DOCTYPE html>

<style>
	* { font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif; }
</style>

<h1>if you did not join the lobby <a href="{{.}}">press here!</a></h1>
<h3>if crab game is not open already it might take a second to start</h3>

<!-- >.> -->

<script>
	window.location.replace("{{.}}");
</script>
